@{
    ViewData["Title"] = "Home Page";
}

<form action="/plantReferenceBook" method="get" class="text-center">
    <div class="form-group form-row align-items-center">
    <input class="form-control" type="text" name="qiery" value="" />
        <button type="submit" class="btn btn-success">Найти</button>
    </div>
</form>

<div class="text-center">
    <h1 class="display-4">Дипломная работа</h1>
    <h2 class="display-6">Выполнил: Кириллов Иван</h2>
    <p>Контактная информация: <a href="https://learn.microsoft.com/aspnet/core">Github</a>.</p>
</div>
