@{
    ViewData["Title"] = "Справочник заболеваний растений";
}
<h1>@ViewData["Title"]</h1>

<h3>Фитофтороз винограда</h3>

<img src="https://www.ogorod.ru/images/cache/1200x628/crop/images%7Ccms-image-000089262.jpg" class="img-fluid" alt="...">

<div class="card">
    <div class="card-header">
        Причины
    </div>
    <div class="card-body">
        @* <h5 class="card-title">Особое обращение с заголовком</h5> *@
        <p class="card-text">Грибы рода Phytophthora</p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Признаки
    </div>
    <div class="card-body">
        @* <h5 class="card-title">Особое обращение с заголовком</h5> *@
        <p class="card-text">Основным признаком фитофтороза является первичная гниль корней, 
            вторичными симптомами — изъязвление и трещины штамба, истекающие соком, 
            а при хроническом течении болезни — мелколистность и изменение окраски. 
            Болезнь часто сопровождается гнилью плодов, опадением листьев и нередко гибелью растения. </p>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Противодействие
    </div>
    <div class="card-body">
        @* <h5 class="card-title">Особое обращение с заголовком</h5> *@
        <p class="card-text">Меры борьбы с фитофторозом: 
            проведение агротехнический мероприятий, 
            поддерживающих жизнедеятельность растений в питании, влаге, свете; 
            необходимо удалять и уничтожать зараженные растения, 
            не производить закладку новых виноградников на зараженных почвах без предварительного обеззараживания. </p>
    </div>
</div>
