@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Устройства</h1>
<div>
    <a asp-action="Humidity">Влажность</a>
</div>
<div>
    <a asp-action="Temperature">Температура</a>
</div>